<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> styles }}
</head>

<body>
    <div class="container">
        <div class="">
            <img src="https://crestwood-files.s3.us-west-2.amazonaws.com/public/images/avatar-123.png"
                alt="crestwood-logo" />
        </div>
        <h1>Welcome to Crestwood HR</h1>
        <p>You subscription has come to an end.
        </p>
        <div class="footer">Sincerely, <br>Crestwood HR </div>
        <div>
            CUSTOMER SERVICE:
            phone: +254 202 001 150
            e-mail: hello@crestwood.co.ke
        </div>
    </div>
</body>

</html>